div {
    border: 1px solid red;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-style: cursive;
    color: purple;
    padding: 30px;
}